{
    "plugins": [
        "react-hooks"
    ],
    "ignorePatterns": [
        "node_modules/mantine-react-table",
        "*.css"
    ],
    "rules": {
        "react-hooks/exhaustive-deps": "warn"
    }
}